* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(-180deg, #bbd2c5 0%, #273137 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    font-size: 48px;
    color: rgb(22, 23, 26);
}

.list-group {
    background-color: white;
}

.strike_out {
    text-decoration: line-through;
    color: grey;
}

.fa-solid {
    color: crimson;
}